.horizontal_ul {
    list-style: none;
    margin: 0px;
    width: 400px;
    height: 140px;
}

.left_li {
    float: left;   
}
.center {
  margin: auto;
  width: 70%;
  border: 3px solid #73AD21;
  padding: 10px;
}
