.horizontal_ul {
    list-style: none;
    width: 100%;
    height: 140px;
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

.left_li {
    float: left;  
}

.left_li a {
  display: block;
  text-align: center;
  padding: 20%;
  text-decoration: none;
}
.center {
  margin: auto;
  width: 75%;
  border: 3px solid #73AD21;
  padding: 10px;
}
